<header class="header">
    <nav class="header__nav">
        <a href=""></a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Work</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <button type="button" aria-label="toggle curtain navigation" class="header__toggler ">
        <span class="header__toggler-line l1"></span>
        <span class="header__toggler-line l2"></span>
        <span class="header__toggler-line l3"></span>
    </button>
</header>